.comments {
    box-shadow:  5px 5px 15px #343030;
    background-color: rgb(249, 249, 249);
    padding: 1ch .5ch 1ch 2ch;
    margin-top: 1ch;
    border-radius: 5px;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    overflow: hidden;
}

.commentHeader {
    margin-top: 0ch;
}

.comments #op {
    color: red;
}

.comments a {
    color: #0101cb;
    text-decoration: underline;
}

.comments button {
    border: #343030 solid 1px;
    background-color: rgba(249, 249, 249, 0);
    margin: 0ch;
    padding: 0ch;
    height: 18px;
    width: 18px;
    border-radius: 2px;
}

.comments button:hover {
    background-color: rgb(215, 215, 215);
}
