.searchDiv {
    width: 30%;
    min-width: 170px;
}

input::placeholder {
    color: black;
    text-align: center; 

    /* required for firefox */
    opacity: 1;
}

.searchDiv input, button {
    color: rgb(40, 40, 40);
    background-color:rgb(215, 215, 215);
    border: gray solid 2px;
    border-radius: 5px;
}
