.App-header {
  position:fixed;
  z-index: 1;
  top:5px;
  left: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  background-color: rgb(220, 60, 60);
  box-shadow:  5px 5px 15px #343030;
  border-radius: 5px;
  max-height: 70px;
}
.App-header h1 {
  width: 55%;
}

.App-main {
  position: relative;
  top: 80px;
  display: inline-block;
  align-items: center;
  width: 70%;
}

a:hover {
  color:gray;
}
a {
  color: rgb(40, 40, 40);
  text-decoration: none;
}
