.App {
  text-align: center;
  background-color:rgb(241, 238, 234);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-main span {
  border: 1px solid rgb(255, 88, 91); 
  color: rgb(255, 88, 91);
}

.postList {
  max-width: 80%;
}

.postList img, video {
  max-height: 520px;
  max-width: 90%;
  /* margin-bottom: 20px; */
  border-radius: 5px;
}

.postList .itemPreview {
  box-shadow:  5px 5px 15px #c7c4c4;
  background-color: rgb(249, 249, 249);
  padding: 0.5ch 2ch;
  margin: 1.5ch 1ch 2ch 1ch;
  border-radius: 5px;
}

